@import "../../assets/styles/colors";

.button-ui {
	background-color: $primary;
	border-radius: 10px;
	font-family: "Helvetica-Bold";
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 24px;
	border: 2px solid transparent;

	@media (max-width: 530px) {
		font-size: 14px;
		line-height: 1.1;
	}

	@media (max-width: 440px) {
		font-size: 12px;
	}

	&:hover {
		cursor: pointer;
		background-color: $secondary;
	}
	&:active {
		border-color: $jet;
	}
}

.button-svg {
	background: $primary;
	color: white;
	font-family: inherit;
	padding: 0.35em;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em $primary;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3.3em;
	font-family: "Helvetica-Bold";

	@media (max-width: 530px) {
		font-size: 14px;
		height: 36px;
	}

	@media (max-width: 440px) {
		font-size: 10px;
	}

	&:hover {
		.button-svg_icon {
			width: calc(100% - 0.6em);
		}
	}

	&_icon {
		background: white;
		margin-left: 1em;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.2em;
		width: 2.2em;
		border-radius: 0.7em;
		box-shadow: 0.1em 0.1em 0.6em 0.2em $primary-light;
		right: 0.3em;
		transition: all 0.3s;
		:active {
			transform: scale(0.95);
		}
		svg {
			width: 1.1em;
			transition: transform 0.3s;
			color: $primary;
			&:hover {
				transform: translateX(0.1em);
			}
		}
	}
}
