@import "../../assets/styles/colors";

.questions {
	display: flex;
	align-items: center;
	flex-direction: column;
	&_title {
		text-align: center;
		width: 65%;
		font-family: "TEX-Bold";
		color: $jet;
		font-size: 40px;
		margin: 0;
	}
	& > *:not(:last-child) {
		margin-bottom: 40px;
		@media (max-width: 1000px) {
			margin-bottom: 20px;
		}
	}
}
