@import "../../../../assets/styles/colors";

.account {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Helvetica-Bold";
	padding: 8px 15px;
	background-color: $primary;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: 2px solid transparent;
	cursor: pointer;
	@media (max-width: 550px) {
		font-size: 12px;
	}
	@media (max-width: 400px) {
		font-size: 10px;
	}
	&:hover {
		background-color: $secondary;
	}
	&_icon {
		@media (max-width: 550px) {
			display: none;
		}
		border: 2px solid white;
		margin-right: 10px;
		border-radius: 50px;
		max-width: 25px;
		max-height: 25px;
		min-width: 25px;
		min-height: 25px;
	}

	&_address {
		padding-top: 3px;
	}
}
