@import "../../../assets/styles/colors";

.signature {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&_warning {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
		color: $primary;
		border-radius: 50%;
		background: white;
		box-shadow: rgba(36, 13, 112, 0.13) 0px 3px 20px;

		@media (max-width: 550px) {
			width: 75px;
			height: 75px;
		}

		&-logo {
			width: 80px;
			height: 80px;

			@media (max-width: 550px) {
				width: 40px;
				height: 40px;
			}
		}
	}

	&_title {
		font-size: 24px;
		font-family: "Red-Semi";
		color: $primary;
	}

	&_back {
		margin-top: 30px;
		color: $secondary;
		font-family: "Red-Semi";
		font-size: 14px;
		transition: color 0.3s ease;
		&:hover {
			color: $primary;
		}
	}
}
