@import "../../assets//styles/colors";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #FFFFFF;
  	width: 100%;
	padding-left: 20px;
	border-bottom: 1px solid $primary;
}