.category-item {
	padding: 0 20px;
	margin: 0 20px;
	cursor: pointer;
	border-radius: 50px;
	background: rgb(235, 236, 242);
	color: black;
	padding: 16px;
	font-weight: 400;
	text-align: center;
	user-select: none;
	font-family: "Red-Semi";
	font-size: 16px;
	white-space: nowrap;
}
