.help-header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	height: 500px;
	background: url("../../assets/images/title-help.svg") center/cover no-repeat;
	font-family: "TEX-Bold";
	font-size: 80px;
}
